    <div class="clear" id="end"></div>
</div><!-- end #content -->
</div><!-- end #container -->

<div id="footer">
    <p>
        <a href="/">Trang chủ</a> |
        <a href="/about">Về chúng tôi</a> |
        <a href="/bouquets">Bán Hoa</a> |
        <a href="/specials">Ưu đãi đặc biệt</a> |
        <a href="/contacts">Liên hệ</a>
    </p>
    <p class="footer-copy">Copyright &copy; 2026 Floral Design Shop | Developed by TienDung</p>
</div>
</body>
</html>
