    <div class="clear" id="end"></div>
</div><!-- end #content -->
</div><!-- end #container -->

<div id="footer">
    <p>
        <a href="/">HOME PAGE</a> |
        <a href="/about">ABOUT US</a> |
        <a href="/bouquets">BOUQUETS</a> |
        <a href="/specials">SPECIALS</a> |
        <a href="/contacts">CONTACTS</a>
    </p>
    <p class="footer-copy">Copyright &copy; 2026 Floral Design Shop | Developed by TienDung</p>
</div>
</body>
</html>
