<%- include('partials/header') %>

<div id="content">
    <div id="leftPan">
        <div id="welcome">
            <h2></h2>
            <img src="/images/img_welcome.jpg" width="172" height="56" alt="Bouquets" />
            <p class="headline">Danh mục hoa - Bouquets Collection</p>
            <p>
                Chúng tôi cung cấp đầy đủ các loại hoa cho mọi dịp:
                sinh nhật, kỷ niệm, cưới hỏi, khai trương, chia buồn...
                Tất cả đều được thiết kế tỉ mỉ và gói bằng giấy cao cấp.
            </p>
        </div>
    </div>
    <div id="rightPan">
        <div id="featured">
            <h2></h2>
            <p class="headline">Bộ sưu tập hoa tươi đặc sắc - Chọn ngay cho dịp đặc biệt của bạn!</p>
            <div class="featItem" id="i01">
                <img src="/images/img_prod.jpg" width="116" height="125" alt="Hoa hồng" />
                <p>
                    <span class="headline2">Hoa Hồng Đỏ</span><br />
                    <a href="#">Đặt hàng ngay</a><br />
                    Giá từ 150.000đ - Phù hợp tặng người yêu
                </p>
            </div>
            <div class="featItem" id="i02">
                <img src="/images/img_prod-13.jpg" width="116" height="125" alt="Hoa tulip" />
                <p>
                    <span class="headline2">Hoa Tulip Hà Lan</span><br />
                    <a href="#">Đặt hàng ngay</a><br />
                    Giá từ 200.000đ - Nhập khẩu trực tiếp
                </p>
            </div>
            <div class="featItem" id="i03">
                <img src="/images/img_prod-14.jpg" width="116" height="125" alt="Hoa mix" />
                <p>
                    <span class="headline2">Bó Hoa Mix</span><br />
                    <a href="#">Đặt hàng ngay</a><br />
                    Giá từ 250.000đ - Thiết kế theo yêu cầu
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
