<%- include('partials/header') %>

<div id="content">
  <div id="leftPan">
    <div id="welcome">
      <h2></h2>
      <img
        src="/images/img_welcome.jpg"
        width="172"
        height="56"
        alt="Welcome to Floral Design"
      />
      <p class="headline">
        Chào mừng bạn đến với Floral Design Shop - nơi mang đến những bông hoa
        tươi đẹp nhất!
      </p>
      <p>
        Chúng tôi cung cấp các loại hoa tươi cao cấp, được chăm sóc tỉ mỉ từ các
        vườn hoa uy tín. Mỗi bó hoa đều được thiết kế riêng theo yêu cầu của
        khách hàng. Giao hàng nhanh chóng trong vòng 2 giờ tại nội thành. Liên
        hệ ngay để được tư vấn miễn phí!
      </p>
    </div>
  </div>
  <div id="rightPan">
    <div id="featured">
      <h2></h2>
      <p class="headline">
        Sản phẩm nổi bật của chúng tôi - những bó hoa được yêu thích nhất!
      </p>
      <div class="featItem" id="i01">
        <img
          src="/images/img_prod.jpg"
          width="116"
          height="125"
          alt="Hoa hồng đỏ"
        />
        <p>
          <span class="headline2">Hoa Hồng Đỏ Classic</span><br />
          <a href="/bouquets">Xem chi tiết</a><br />
          Bó hoa hồng đỏ sang trọng, phù hợp cho mọi dịp đặc biệt
        </p>
      </div>
      <div class="featItem" id="i02">
        <img
          src="/images/img_prod-13.jpg"
          width="116"
          height="125"
          alt="Hoa tulip"
        />
        <p>
          <span class="headline2">Hoa Tulip Hà Lan</span><br />
          <a href="/bouquets">Xem chi tiết</a><br />
          Tulip nhập khẩu trực tiếp từ Hà Lan, màu sắc tươi sáng
        </p>
      </div>
      <div class="featItem" id="i03">
        <img
          src="/images/img_prod-14.jpg"
          width="116"
          height="125"
          alt="Hoa mix"
        />
        <p>
          <span class="headline2">Bó Hoa Mix Mùa Xuân</span><br />
          <a href="/bouquets">Xem chi tiết</a><br />
          Kết hợp nhiều loại hoa tươi theo mùa, giá ưu đãi
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
