<%- include('partials/header') %>

<div id="content">
  <div id="leftPan">
    <div id="welcome">
      <h2></h2>
      <img
        src="/images/img_welcome.jpg"
        width="172"
        height="56"
        alt="Specials"
      />
      <p class="headline">Ưu đãi đặc biệt - Chỉ có tại Floral Design!</p>
      <p>
        Mỗi tuần chúng tôi cập nhật các ưu đãi mới hấp dẫn. Đăng ký nhận tin để
        không bỏ lỡ chương trình khuyến mãi. Giảm giá lên đến 30% cho đơn hàng
        từ 500.000đ. Miễn phí giao hàng cho đơn từ 300.000đ nội thành.
      </p>
    </div>
  </div>
  <div id="rightPan">
    <div id="featured">
      <h2></h2>
      <p class="headline">Khuyến mãi HOT tuần này - Đừng bỏ lỡ!</p>
      <div class="featItem" id="i01">
        <img
          src="/images/img_prod.jpg"
          width="116"
          height="125"
          alt="Special 1"
        />
        <p>
          <span class="headline2">SALE 20% Hoa Hồng</span><br />
          <a href="#">Mua ngay</a><br />
          Áp dụng đến hết ngày 31/03/2026
        </p>
      </div>
      <div class="featItem" id="i02">
        <img
          src="/images/img_prod-13.jpg"
          width="116"
          height="125"
          alt="Special 2"
        />
        <p>
          <span class="headline2">COMBO Sinh Nhật</span><br />
          <a href="#">Mua ngay</a><br />
          Hoa + Gấu bông + Socola - Tiết kiệm 50.000đ
        </p>
      </div>
      <div class="featItem" id="i03">
        <img
          src="/images/img_prod-14.jpg"
          width="116"
          height="125"
          alt="Special 3"
        />
        <p>
          <span class="headline2">GÓI Cưới Cao Cấp</span><br />
          <a href="#">Mua ngay</a><br />
          Hoa cưới trọn gói - Giá chỉ 2.000.000đ
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
